.TopTopTopNav{
    background: #2A41E8;
    color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    
    
}
.TopTopNav{
    
    
    width: 600px;
    padding: auto;
    display: flex;
    top: 0;
    left: 0;
    height: 54px;
    
    }
.TopTopNav p{
    margin: auto;
    padding: auto;
}
.TopTopTopNav button{
    
    padding: auto;
    color:#2A41E8;
    font-family: 'Roboto', sans-serif'Roboto', sans-serif;
}
.TopTopFigure h2{
    font-family: 'Roboto', sans-serif'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 55px;
    color: #4B4D4F;
    margin: 10px 0px 10px 0px;
    display: flex;

}
.TopNav{
    display: flex;
    font-family: 'Roboto', sans-serif'Roboto', sans-serif;
    margin: auto;
    height: 82px;
    width: 1735px;
    left: 0px;
    top: 45px;
    border-radius: 0px;

}
.TopNav a{
justify-content: center;
height: 17px;
left: 0%;
right: 0%;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
margin: auto;
padding: auto;
top: calc(50%-17px/2);
}
.NavHPPAC{
    display: flex;
    padding: auto;
    margin: 60px;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;


}
.NavHPPAC a{
    display: flex;
    justify-content: space-evenly;
    height: 17px;
    left: 0%;
    right: 0%;
    font-style: normal;
    color:black;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.TopTopFigure {
    display:flex;
    margin-left: 30px;
    margin-right: 10px;
}
.TopTopFigure a{
    font-family:'Roboto', sans-serif;
    justify-content: space-between;
}
.TopTopFigure button{
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #FF5E14;
}
.MidSection {
    background-image: url("../images\ index/hero-bg-image.png");
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 550px;
    display: grid;
}
.MidSection h1{
    justify-content:center;
    display: grid;   
    margin: 0px 500px 0px 400px;
    width: 300px;
    height: 10px;
    
}
.MidSection p{
    height: 20px;
    width: 1000px;
    justify-content:center;
    display: grid;   
    margin: 0px 570px 0px 0px;
}

.MidSectionTop {
    width: 1280px;
    height: 40px;
    display: flex;
    margin: 50px 30px 50px 500px;
    border:1px solid;white-space: inherit;
    border-color: aliceblue;
    border-radius: 5px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: auto;
    padding: 25px;
    width: 800px;
    justify-content: center;
    background-color: aliceblue;
    color: gray;
    font-size: small;
    justify-content: space-between;
}
.MidSectionTop label {

}
.MidSectionTop button:hover {
    cursor: pointer;
    background-color: #2A41E8;
    color: aliceblue;

}

.TopArticle {
    display: grid;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}
.TopArticle h3{
    
    color: #8C8C8C;
    font-size: 14px;
    line-height: 17px;

}
.TopArticle h1{
    font-size: 40px;
    color: black;
    font-family: 'Roboto', sans-serif;
}



.ContenedorCards{
    display: flex;
    margin-top: 7%;
    background-color: #FAFAFA;


}

.Card:hover{
    cursor: pointer;
    border:solid;
    border-color: white;
    width: 398px;
    height: 519px;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    background-color: white;
}
.Card h4{
    font-size: x-small;
    color: #4B4D4F;
    margin-left: 30px;
}
.Card p{
    margin: 0px 20px 11px 30px;
    font-size: large;
    font-family: 'Roboto', sans-serif;;
}
.Card img{
    width: 100%;
    height: 278px;
}
.figureCero {
    margin: 0px;
    display: flex;
    justify-content: space-between;
}
.figureCero p{
    width: 150px;
    color: #8C8C8C;
}
.figureUno{
    display: flex;
}
.figureUno img{
    width: 16px;
    height: 16px;
    border-radius: 5px;
    
}
.figureUno p{
    margin: 0%;
    margin-left: 5%;
    font-size: small;
    color: #2A41E8;
    font-family: 'Roboto', sans-serif;
}
.FigureHugeOne{
    display: flex;
    margin: 0px;
    justify-content: space-between;
}
.FigureHugeOne img{
    width: 20px;
    height: 20px;
    color: black;
}
.FigureHugeOne p{
    margin: 9%;
}
.FigureHugeOneTwo{
    display: flex;
    margin: 0%;
    margin-left: 10%;
    margin-right: -15%;
}
.FigureHugeOneTwo p{
    width: 200px;
}
.FigureHugeTwo{
    display: flex;
    margin-right: 10%;
    
}






